{% include head.html %}
<body style="padding-top:60px;">
	<div data-dropdown="dropdown" class="topbar">
		<div class="topbar-inner">
			<div class="container">
				<h3><a href="/">NodeBus Supports</a></h3>
				<ul class="nav secondary-nav">
					<li><a href="http://www.nodebus.com">返回NodeBus</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		{{ content }}
		<footer>
		<p>&copy; NodeBus 2011
		<span class="contacts">
			<span><img src="http://qun.qq.com/favicon.ico"/>Q群 12222225</span>
			<a href="http://weibo.com/nodebus" target="_blank"><img src="http://weibo.com/favicon.ico"/>@NodeBus</a>
		</span>
		</p>
		</footer>
	</div>
</body>
{% include foot.html %}	        
