---
layout: default
is_index: true
title: 首页
description: NodeBus是社交化系统监控平台，以微博和即时通信的社交方式实现对业务、应用、系统、主机、设备的监控管理。
---

<ul class="unstyled">
	{% for post in paginator.posts %}
	<li>
	<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
	<p>{{ post.description }}</p>
	</li>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
	<ul>
		{% if paginator.previous_page %}
		{% if paginator.previous_page == 1 %}
		<li class="previous"><a href="{{ site.baseurl }}">&larr; 更近的</a></li>
		{% else %}
		<li class="previous"><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}">&larr; 更近的</a></li>
		{% endif %}
		{% endif %}
		<!--li><p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p></li-->
		{% if paginator.next_page %}
		<li class="next"><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">更早的 &rarr;</a></li>
		{% endif %}
	</ul>
</div>
{% endif %}

