
[submodule "web"]
	path = web
	url = git@github.com:zzdhidden/nodebus-web.git
[submodule "api"]
	path = api
	url = git@github.com:zzdhidden/nodebus-api.git
[submodule "push"]
	path = push
	url = git@github.com:zzdhidden/nodebus-push.git
